@import "~normalize.css";
@import "@/assets/styles/variables.scss";
div, p ,main, nav, article, header{
    box-sizing: border-box;
  }
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
