$font-family:'Open Sans', Helvetica, Arial, sans-serif;

//colors
$logo-color-main:#e12c21;
$logo-color-second:#7fcb2a;

$search-background-color:#f4f6f6;
$search-border-color:#ededed;
$search-placeholder-color:#555;
$search-text-color:#000;
$search-icon-color:#958f8f;

$food-item-border-color:rgba(0, 0, 0, 0.17) ;

$text-light-color: #9a9a9a;;
$text-dark-color: #000;

$filter-tag-cat-background:#801711;
$filter-tag-search-background:#7fcb2a;
$filter-tag-ingridients-background:#958f8f;
$filter-tag-text:#fff;
$filter-tag-del:#e12c21;

$select-highlight: #958f8f;


$max-content-width:1920px;