$main-colors: (
    lightest: #f9f9ff,
    light: #ffa577,
    dark: #d55448,
    darkest: #896e69
);


$font-family: 'Open Sans', Helvetica, Arial, sans-serif;


//colors
$logo-color-main: map_get($main-colors, 'dark');
$logo-color-second: map_get($main-colors, 'light');

$link-color: map_get($main-colors, 'darkest');

$cat-item-background: map_get($main-colors, 'lightest');
$meal-item-background: map_get($main-colors, 'lightest');

$search-background-color: map_get($main-colors, 'lightest');
$search-border-color: map_get($main-colors, 'darkest');
$search-placeholder-color: map_get($main-colors, 'darkest');
$search-text-color: #000;
$search-icon-color: map_get($main-colors, 'darkest');

$food-item-border-color: rgba(map_get($main-colors, 'darkest'), .17);

$text-light-color: map_get($main-colors, 'darkest');
$text-dark-color: #000;

$filter-tag-cat-background: map_get($main-colors, 'light');
$filter-tag-search-background: map_get($main-colors, 'dark');
$filter-tag-ingredients-background: map_get($main-colors, 'darkest');
$filter-tag-text: #fff;
$filter-tag-del: #e12c21;

$select-highlight: map_get($main-colors, 'darkest');
$select-title: map_get($main-colors, 'darkest');
$select-text: map_get($main-colors, 'darkest');
$select-border: map_get($main-colors, 'darkest');



$filter-button-border: map_get($main-colors, 'light');
$filter-button-background: map_get($main-colors, 'light');
$filter-button-text: #fff;
$filter-panel-toggle-button-color: map_get($main-colors, 'darkest');


$meal-tags-color-background: map_get($main-colors, 'dark');
$meal-tags-color-text: #fff;

$max-content-width: 1920px;

$cat-count-supersize: 9;
$cat-count-large: 8;
$cat-count-middle1: 6;
$cat-count-middle2: 3;
$cat-count-small: 2;
$cat-items-gap-large: 15px;
$cat-items-gap-small: 10px;

$meal-count-supersize: 6;
$meal-count-large: 4;
$meal-count-middle1: 3;
$meal-count-middle2: 2;
$meal-count-small: 1;
$meal-items-gap-large: 15px;
$meal-items-gap-small: 10px;

@function itemWidth($item-count, $items-gap ) {
    $width: calc((100% / #{$item-count}) - (#{$items-gap} * (#{$item-count} - 1) / #{$item-count}));
    @return #{$width};
}